.single-post {
	margin-top: 2rem;
	max-width: 660px;
	margin-left: auto;
	margin-right: auto;
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-animation: post-fade-in .8s;
	animation: post-fade-in .8s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.single-post__image {
	border-radius: 2rem;
	max-width: 48px;
}

.single-post__author {
	font-size: 1.2rem;
}

.single-post__date-wrapper {
	margin-top: 12px;
}

.single-post__date {
	font-size: 15px;
	margin-bottom: 1rem;
}

.single-post__content {
	font-size: 20px;
}

.single-post__image-video {
	max-width: 100%;
	width: 100%;
	margin-top: 1rem;
}

.single-post__likes {
	font-size: 13px;
	margin-left: 8px;
	display: inline-block;
}

.like-icon {
	max-width: 20px;
}

.public-icon {
	font-size: 14px;
}

.buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

.app-button {
	margin-top: 12px;
}

@-webkit-keyframes post-fade-in {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		        transform: scale(0);
	}

	80% {
		opacity: .8;
		-webkit-transform: scale(.8);
		        transform: scale(.8);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
@keyframes post-fade-in {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		        transform: scale(0);
	}

	80% {
		opacity: .8;
		-webkit-transform: scale(.8);
		        transform: scale(.8);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
