<div class="profile__header">
	<div class="profile__cover">
		<div class="profile__cover-icon-wrapper">
			<mat-icon class="profile__cover-icon">image_search</mat-icon>
		</div>
	</div>

	<img class="profile__picture" [src]="getProfilePicture('eslam')" />
	<h2 class="profile__name">Eslam Ahmed</h2>
</div>

<div class="profile__posts">
	<app-write-post class="profile__write-post"></app-write-post>

	<div *ngFor="let post of posts">
		<app-post *ngIf="post.username == 'eslam'" [post]="post"></app-post>
	</div>
</div>
